body, html {
    margin: 0;
    padding: 0;
}

#app {
    width: 100vw; /* Adjust for full viewport width */
    height: 100vh; /* Adjust for full viewport height */
    display: grid;
    grid-template-rows: 15% 85%;
    grid-template-columns: 1;
}