@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


/* Page Details Container */

#page-details-container {
    border: 2px solid magenta;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 2;
    grid-template-columns: 1;
}


/* Welcome to Flippify message with sub title (description)*/


.title {
    border: 2px solid green;
    grid-row: 1;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 60px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
}

.description {
    border: 2px solid green;
    grid-row: 1;
    text-align: center;
    color: rgb(74, 74, 74);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
}


/* Sign in container */

#sign-in-container {
    border: 2px solid blue;
    grid-row: 2;
    width: 40%
}
