@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.page-details {
    grid-row: 2;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px; /* Adding a margin from the top so its not too high up */
    font-family: "Inter", bold;
}