@tailwind base;
@tailwind components;
@tailwind utilities;

.tab {
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    color: #000;
  }
  
.tab-active {
    background-color: #F1F1F1;
    border: 1.5px solid #A9A9A9;
    color: #000;
    border-radius: 9999px;
}

.tabs .tab:not(.tab-active):hover {
    background-color: #FFFFFF;
}

.menu .active {
    background-color: #e0f7fa; /* Adjust the color as needed */
    color: #00796b; /* Adjust the text color as needed */
  }

.menu .divider {
    border-top: 1px solid #e0e0e0; /* Adjust the color as needed */
    margin: 8px 0;
}

.flex.items-center.space-x-4 {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.text-base.font-medium {
    font-size: 1rem;
    font-weight: 500;
}

  