@tailwind base;
@tailwind components;
@tailwind utilities;

w-full md:w-auto lg:w-full




.hr-price-stat {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color:#eeeeee;
    height: 1px;
}


.mockup-shadow {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 12px 12px rgba(0, 0, 0, 0.25);
}


.menu .active {
    background-color: #e0f7fa;
    color: #00796b;
}

.menu .divider {
    border-top: 1px solid #e0e0e0;
    margin: 8px 0;
}

.flex.items-center.space-x-4 {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.text-base.font-medium {
    font-size: 1rem;
    font-weight: 500;
}

html {
    scroll-behavior: smooth;
}
  
.placeholder-lightModeText-light::placeholder {
    color: rgba(59, 64, 69, 0.5); /* Adjust the opacity to make it lighter */
}
   
  
