/* userSidebar.css */

/* Hides the scrollbar in the sidebar */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  /* Prevent scrolling of the main content behind the sidebar when it's open */
  .body-no-scroll {
    overflow: hidden; /* This will disable the scrolling on the page */
  }
  